nav{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    height: 59px;
}

.navbar-nav{
    margin: 30px;
    margin-left: 20px;
    
}

.dropdown-item{
    color: rgb(218, 3, 3);
}