{% extends 'plantillaBase.html' %}
{% block title %}Carrito de Compras{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2>Carrito de Compras</h2>
  <div class="row">
    {% for producto in productos_en_carrito %}
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
        <div class="card-body">
          <h5 class="card-title">{{ producto.nombre }}</h5>
          <p class="card-text">${{ producto.precio }}</p>
          <form action="{% url 'eliminar_producto' producto.id %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Eliminar">
          </form>
          <div class="mt-2">
            <form action="{% url 'aumentar_cantidad' producto.id %}" method="post">
              {% csrf_token %}
              <input type="submit" class="btn btn-secondary" value="+">
            </form>
            <span class="mx-2">{{ producto.cantidad }}</span>
            <form action="{% url 'disminuir_cantidad' producto.id %}" method="post">
              {% csrf_token %}
              <input type="submit" class="btn btn-secondary" value="-">
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}