{% extends "plantillaBase.html" %}

html:5
{% block body %}
    <h1>Lista de clientes</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th>Correo</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellido }}</td>
                    <td>{{ cliente.edad }}</td>
                    <td>{{ cliente.correo }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}